# .dockerignore
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vscode
 
node_modules
 
.git
.gitattributes
 
.eslintignore
.eslintrc.cjs
 
.prettierrc
.pretieriignore
 
README.md
 
Dockerfile